body {
  margin: 0;
  display: grid;
  grid-template-columns: 20px 1fr 2fr 20px;
  grid-template-rows: auto;
  grid-template-areas:
    '.   title  . .'
    '.  title  header header'
    'divider divider divider divider'
    '. navbar navbar navbar'
    '.  sidebar  main .'
    'footer footer footer footer';
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 600px) {
  body {
    grid-template-columns: 20px 1fr 2fr 20px;
    grid-template-rows: auto;
    grid-template-areas:
      '.       title . .'
      '. title header header'
      'divider divider divider divider'
      '. navbar navbar navbar'
      '.       sidebar  main    .'
      'footer footer footer footer';
  }
}

img {
  border-radius: 50%;
border: 2px solid whitesmoke;
}

.title {
  grid-area: title;
  background-color:var(--p1nk);
  color: whitesmoke;
  padding: 20px;
  padding-left: 20px;
  max-width: 1fr;
}

.header {
  grid-area: header;
  background-color: whitesmoke;
  color: var(--p1nk);
  text-align: right;
  padding-top: 100px;
  padding: 10px;
}


.divider {
  grid-area: divider;
  background-color:var(--gr3y);
  color: whitesmoke;
  padding: 10px;
  padding-right: 20px;
  text-align: right;
}

.sidebar {
  grid-area: sidebar;
  background-color:var(--p1nk);
  color: whitesmoke;
  text-align: left; 
  padding: 20px;
}

.navbar{
  grid-area: navbar;
  overflow: hidden;
  background-color: var(--p1nk);
  padding-left: 10px;
}

/* Style the nav links */
.navbar a {
  float:left;
  display: block;
  color:whitesmoke;
  text-align: left;
  padding: 10px 10px;
  text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
  background-color:var(--gr3y);
  color: var(--p1nk);
}

.main {
  grid-area: main;
  padding: 10px;
  
}


.footer {
  grid-area: footer;
  color: var(--p1nk);
  padding: 20px;
  text-align: center;
  background-color: rgb(168, 168, 168);
}

/***************Colour and font reference chart***************

h1 = white title header
h2 = grey title header
h3 = grey sub header
h4 = pink italic title
p.a = grey body text
p.b = white body text
p.c = white body caps 


*/


:root {
  --p1nk : rgb(190,52,85);
  --gr3y : rgb(46,46,46);
}

h1{
  color: whitesmoke;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
}

h2{
  color: var(--gr3y);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

h3{
  color: var(--gr3y);
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

h4{
  color: var(--p1nk);
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-style: italic;
}

p.a {
  color:var(--gr3y);
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

p.b {
  color: white;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

p.c {
  color: white;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-variant: small-caps;
}

